.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 50px;
}

.twoColumn {
  position: relative;
  grid-column: span 6;
  display: flex;
  align-items: center;
}

.center {
  composes: twoColumn;
  grid-column: span 12;
}

.img {
  margin-bottom: 0;
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 1.5em 0 0 1.5em;
  font-size: 1.5em;
}

.hr {
  composes: title;
  margin: 3em 0 0 1.5em;
  width: 40px;
  border-top: 3px solid white;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
  display: none;
}

.column:hover .overlay {
  display: block;
}

.director {
  position: absolute;
  margin: 6em 0 0 2.3em;
}

.cast {
  position: absolute;
  margin: 9em 0 0 2.3em;
}

.credit, .name {
  margin: 0;
}
